# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
.eggs/

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env
*.env.local

# Credenciales
credentials.json
service_account.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel/
